<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="stylesheet" href="/css/adminlist.css">
    <link rel="icon" href="img/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    
    <title>Quboverde Admin</title>
</head>
<body>
    <%- include("../../includes/header_admin") %>
    
    <main id="modprod" class="register-main">
        <%- include("../../includes/navAdmin") %> 
        <% console.log("------------------------------------------------------") %>
        <% console.log(query) %>

            <section class="main-list">
                <h2>Administrar permisos</h2>
                <table>
                    <thead class="t-head">
                      <th scope="col" class="t-description"></th>
                      <th scope="col" class="t-permission">Adminstrador (SI/NO)</th>
                    </thead>
                    <tbody class="t-body">
                        <% for (let i=0; i < query.length; i++){ %>
                        <!-- table row (user example) -->
                        <tr class="t-item">
                            <td class="t-info">
                                <figure class="cart-img">
                                    <img src="/img/upload/avatar/<%= query[i].avatar %>" alt="">
                                </figure>
                                <article class="t-description">
                                    <h3 class="cart-title"><%=query[i].firstname + " " +query[i].lastname %></h3>
                                    <h5 class="cart-type"><%=query[i].email %></h5>
                                </article>
                            </td>

                            <td class="t-permission">
                                    <% if (query[i].admin == 1) { %>
                                    <h4>SI</h4>
                                    <% } else { %>
                                    <h4>NO</h4>
                                    <% } %>
                            </td>
                        </tr>
                        <!-- end of table row (user example) -->
                        <% } %>
    
                    </tbody>
                    
                    <tfoot>
                        <form class="register-registro admin lateral-big" action="/users/admin?_method=PUT" method="POST">
                            
                            <td class="t-description"> Selecciona mail - usuario </td>
                            <td class="t-permission"></td>
                            
                            <tr>
                                <td>
                                    <select id= "longfield" name="aModificar">
                                        <% for (let i=0; i < query.length; i++){ %>
                                        <option value="<%= query[i].id %>">  
                                            <% if (query[i].admin == 1) { %> 
                                                (admin) - 
                                            <%= query[i].email %> - <%= query[i].user %> 
                                            <% } else { %>
                                                <%= query[i].email %> - <%= query[i].user %> 
                                                <% } %>
                                        </option>
                                        <% } %>
                                    </select>
                                </td>
                                <td class="t-permission">
                                    <select name="estadoModificar">
                                        <option value="1"> SI </option>
                                        <option value="0"> NO </option>
                                    </select>
                                </td>
                                
                            </tr>

                            <td></td>
                            <td id="button"><button class="checkout" type="submit" onclick="alert('Cambios guardados')"> Guardar cambios </button></td>
                        </form>
                    </tfoot>

            </section>
            <% console.log("---------------------------------------------------------------------------------------------------------------") %>
        

    </main>
    
    <script src="/js/script.js"></script>
</body>
</html>