<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="icon" href="img/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <title>quboverde</title>
</head>
<body>

   <%- include("../../includes/header_admin") %> 

    <main class="panel" class="main">
      
      <nav class="admin nav-lateral">
        
        <article class="nav-lateral-component">
           <h1>Hola
              <% if (locals.userLogged) { %>
               <%=locals.userLogged.firstname %> 
               <% } %>
            </h1>
            <a href="/admin/panel" class="item-navbar"><img class ="icons" src="/img/fi-rr-apps.svg" alt="">Panel Admin</a>
            <a href="/products/mod/" class="item-navbar"><img class ="icons" src="/img/fi-rr-products.svg" alt="">Productos</a>
            <a href="#" class="item-navbar"><img class ="icons" src="/img/fi-rr-megaphone.svg" alt="">Promos</a>
            <a href="#" class="item-navbar"><img class ="icons" src="/img/fi-rr-edit.svg" alt="">Customización</a>
            <a href="#" class="item-navbar"><img class ="icons" src="/img/fi-rr-key.svg" alt="">Permisos</a>
            <a href="/users/logout" class="item-navbar plain-text-button"><img class ="icons" src="/img/fi-rr-sign-out.svg" alt="">Cerrar sesión </a>
         </article>
      </nav>
      
      <section class="admin lateral-big">
         <h1>Catálogo de productos</h1>
         <p>Todos los productos de tu e-shop están acá. Podés agregar productos clickeando en el botón de "+"" en la esquina inferior derecha, o eliminar o modificar los ya existentes.</p>
      <article class="prod-container">
        
            <% for (let i=0; i < catalogo.length; i++){ %>
               <article class="prod">
                  <picture class="prod-img">
                     <a href="/products/mod/<%= catalogo[i].id%>">
                        <img src="/img/upload/product/<%= catalogo[i].img %>" alt="">
                     </a>
                  </picture>
                  
                  <div class="prod-box">
                     <h3 class="prod-title"><%= catalogo[i].name %></h3>
                     <h4 class="prod-price">$ <%= parseFloat(catalogo[i].price).toFixed(0) %></h4>
                     <h5 class="prod-type"><%= catalogo[i].species %></h5>

                     <!-- <form  action=""> -->
                        <div class="prod-action">
                     
                           <button class="add-cart" ><a href="/products/mod/<%= catalogo[i].id%>" style="text-decoration: none; color: #FFFFFF">Editar</a></button>
                     
                     <!-- </form> -->
                     <form method="POST" action="/products/mod/del/<%= catalogo[i].id%>?_method=DELETE">
                        <button class="fav" type="submit" onclick="alert('Producto eliminado')"> <img src="/img/trash.svg" alt=""> </button>
                     </form>
                     </div>
                    
                  </div>
               </article>
            <% } %>
         
            </article>
      </section>
      
      <a href="/products/newprod"><button class="flotante">+</button></a>
    </main>

    <%- include("../../includes/footer") %> 
</body>
</html>