<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="stylesheet" href="/css/pricelist.css">
    <link rel="icon" href="img/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    
    <title>Modificar producto</title>
</head>
<body>
    <%- include("../../includes/header_admin") %>
    
    <main id="modprod" class="register-main">
        <%- include("../../includes/navAdmin") %> 

          <form id= "pricelist" class="register-registro admin lateral-big" action="/products/modprice?_method=PUT" method="POST">
            <table>
                <thead id="pricelist">
                
                    <th class="t-price">#</th>
                    <th class="t-description">nombre producto</th>
                    <th class="t-permission">precio de lista</th>
                    <th class="t-permission">% descuento</th>
                    <th class="t-permission"></th>
                
                </thead>

                <tbody>
                    <% for (let i=0; i < precios.length; i++){ %>
                        <tr class="t-item">
                        
                            <td><%= precios[i].id %></td>
                            <td><%= precios[i].productos.name %></td>
                            <td class="t-price"><%= precios[i].price %></td>
                            <td class="t-price"><%= precios[i].discount %></td>
                            <td></td>

                        
                    </tr>
                    <% } %>
                </tbody>
       
                <tfoot>
                    <tr>
                        <th></th>
                        <th class="t-description">Seleccionar producto</th>
                        <th class="t-permission">nuevo precio</th>
                        <th class="t-permission">% descuento</th>
                            
                        <tr>
                            <td></td>
                            <td id="long">
                                <select id= "longfield" name="aModificar">
                                    <% for (let i=0; i < precios.length; i++){ %>
                                    <option value="<%=precios[i].id%>"><%= precios[i].productos.name %></option>
                                    <% } %>
                                </select>
                            </td>
                            <td><input type="number" name="precioNuevo"></td>
                            <td><input type="number" name="descuentoNuevo"></td>
                            <td><button class="checkout" type="submit" onclick="alert('Cambios guardados')"> Guardar cambios </button></td>
                                
                        </tr>
                    </tr>
                </tfoot>
            </table>
        
        </form>

    </main>
    <script src="/js/script.js"></script>
</body>
</html>