<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="icon" href="img/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    
    <title>Modificar producto</title>
</head>
<body>
    <%- include("../../includes/header_admin") %>
    
    <main id="modprod" class="register-main">
        <nav class="admin nav-lateral">
        
            <article class="nav-lateral-component">
               <h1>Hola
                  <% if (locals.userLogged) { %>
                   <%=locals.userLogged.firstname %> 
                   <% } %>
                </h1>
                <a href="/admin/panel" class="item-navbar"><img class ="icons" src="/img/fi-rr-apps.svg" alt="">Panel Admin</a>
                <a href="/products/mod/" class="item-navbar"><img class ="icons" src="/img/fi-rr-products.svg" alt="">Productos</a>
                <a href="#" class="item-navbar"><img class ="icons" src="/img/fi-rr-megaphone.svg" alt="">Promos</a>
                <a href="#" class="item-navbar"><img class ="icons" src="/img/fi-rr-edit.svg" alt="">Customización</a>
                <a href="#" class="item-navbar"><img class ="icons" src="/img/fi-rr-key.svg" alt="">Permisos</a>
                <a href="/users/logout" class="item-navbar plain-text-button"><img class ="icons" src="/img/fi-rr-sign-out.svg" alt="">Cerrar sesión </a>
             </article>
          </nav>


        <form class="register-registro admin lateral-big">
            <table>
            <% for (let i=0; i < precios.length; i++){ %>
                <tr>
                <form action="/products/pricemod/<%=precios[i].id%>" method="POST" enctype="multipart/form-data">
                <section>
                    <td><%= precios[i].id %> - <%= precios[i].productos.name %></td>
                    <td> <input type="text" name="<%="precio"[precios[i].id] %>" value="<%= precios[i].price %>"></td>
                    <td> <input type="text" name="descuento<%=precios[i].id%>" value="<%= precios[i].discount %>"></td>
                    <td><button type="submit" onclick="alert('Cambios guardados')"> Guardar cambios </button></td>
                </section>
                </form>
            </tr>
            <% } %>
        </table>


        </form>

    </main>
    <script src="/js/script.js"></script>
</body>
</html>