<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="icon" href="img/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    
    <title>Modificar producto</title>
</head>
<body>
    <%- include("../../includes/header_admin") %>
    
    <main id="modprod" class="register-main">
        <nav class="admin nav-lateral">
        
            <article class="nav-lateral-component">
               <h1>Hola
                  <% if (locals.userLogged) { %>
                   <%=locals.userLogged.firstname %> 
                   <% } %>
                </h1>
                <a href="/admin/panel" class="item-navbar"><img class ="icons" src="/img/fi-rr-apps.svg" alt="">Panel Admin</a>
                <a href="/products/mod/" class="item-navbar"><img class ="icons" src="/img/fi-rr-products.svg" alt="">Productos</a>
                <a href="#" class="item-navbar"><img class ="icons" src="/img/fi-rr-megaphone.svg" alt="">Promos</a>
                <a href="#" class="item-navbar"><img class ="icons" src="/img/fi-rr-edit.svg" alt="">Customización</a>
                <a href="#" class="item-navbar"><img class ="icons" src="/img/fi-rr-key.svg" alt="">Permisos</a>
                <a href="/users/logout" class="item-navbar plain-text-button"><img class ="icons" src="/img/fi-rr-sign-out.svg" alt="">Cerrar sesión </a>
             </article>
          </nav>


        <form class="register-registro admin lateral-big" action="/products/mod/<%=datos.id%>?_method=PUT" method="POST" id="product-info" enctype="multipart/form-data">
            <div class="register-titulo">
                <h3 class="register-titulo">Ficha de producto</h3>
            </div>
            
            <fieldset class="register-form1">
                <legend><h5>Información general</h5></legend>
                <div>
                    <label class="register-labe1">Producto</label>
                    <input class="register-input1" type="text" name="producto" value="<%=datos.name %>" required>
                </div>

                <div>
                    <label class="register-labe1">Precio</label>
                    <input class="register-input1" type="number" name="precio" min="0" value="<%=datos.price%>" required>
                </div>

                <div>
                    <label class="register-labe1">Foto de producto</label>
                    <p>Foto actual del producto</p>
                    <img src="/img/upload/product/<%=datos.img%>" width="200px">
                    <input class="input-photo" type="file" accept=".jpg, .png" name="img">
                </div>

                <div>
                    <label class="register-labe1">Especie</label>
                    <br>
                    <select class="register-input1">
                        <option value="" selected>Seleccioná de la lista</option>
                      
                        <option value="Philodendron" <% if(datos.species == "Philodendron"){  %> <%="selected"%> <%}%> >Philodendron</option>
                        
                        <option value="Dracaena" <% if(datos.species == "Dracaena"){  %> <%="selected"%> <%}%>>Dracaena</option>
                        
                        <option value="Calathea" <% if(datos.species == "Calathea"){  %> <%="selected"%> <%}%>>Calathea</option>
                        
                        <option value="Ficus" <% if(datos.species == "Ficus"){  %> <%="selected"%> <%}%> >Ficus</option>
                        
                    </select>
                </div>

                <div id="comment">
                    <label class="register-labe1">Descripción</label>
                    <textarea class="register-inputbig" rows="6" cols="34" name="descripcion" form="product-info"><%=datos.desc %></textarea>
                </div>
            </fieldset>

            <fieldset class="register-perfilusuario">
                <h5>Escala</h5>

                <div class="checklist">
                    <input type="radio" id="chico" name="escala" value="1" <% if(datos.scale == 1){  %> <%="checked"%> <%}%>>
                    <label for="chico">Chico</label>
                </div>

                <div class="checklist">
                    <input type="radio" id="mediano" name="escala" value="2" <% if(datos.scale == 2){  %> <%="checked"%> <%}%>>
                    <label for="mediano">Mediano</label>
                </div>

                <div class="checklist">
                    <input type="radio" id="grande" name="escala" value="3"  <% if(datos.scale == 3){  %> <%="checked"%> <%}%>>
                    <label for="grande">Grande</label>
                </div>
            </fieldset>

            <fieldset class="register-perfilusuario">
                <h5>Riego</h5>
                <p>De menor a mayor (Poco riego a Riego abundante)</p>
                <datalist id="riego-range">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                </datalist>
                <input class="range" type="range" min="0" max="5" name="riego" value= <%= datos.irr %>>
            </fieldset>

            <fieldset class="register-perfilusuario">
                <h5>Asoleamiento</h5>
                <p>Tipo y cantidad de luz</p>

                <div class="checklist">
                    <input type="radio" id="sombra" name="luz" value="1" <% if(datos.light == 1){  %> <%="checked"%> <%}%>>
                    <label for="sombra">Sombra</label>
                </div>

                <div class="checklist">
                    <input type="radio" id="artificial" name="luz" value="2" <% if(datos.light == 2){  %> <%="checked"%> <%}%> >
                    <label for="artificial">Luz artificial o poca luz</label>
                </div>

                <div class="checklist">
                    <input type="radio" id="indirecta" name="luz" value="3" <% if(datos.light == 3){  %> <%="checked"%> <%}%>>
                    <label for="indirecta">Luz indirecta</label>
                </div>

                <div class="checklist">
                    <input type="radio" id="moderada" name="luz" value="4" <% if(datos.light == 4){  %> <%="checked"%> <%}%>>
                    <label for="moderada">Luz directa moderada</label>
                </div>

                <div class="checklist">
                    <input type="radio" id="abundante" name="luz" value="5" <% if(datos.light == 5){  %> <%="checked"%> <%}%>>
                    <label for="abundante">Abundante luz directa</label>
                </div>

            </fieldset>

            <fieldset class="register-perfilusuario">
                <h5>Dificultad de mantenimiento</h5>
                <p>Calculado automaticamente en base a los valores riego/luz</p>
               
                <input class="range2" id ="range2" type="range" min="0" max="5" name="irr" value= <%= datos.dif %> disabled><br>
                <p> dificultad total: <%=datos.dif%>/5</p>
                
            </fieldset>

            <fieldset class="register-perfilusuario">
                <h5>Apto Mascotas</h5>
                <p>Apta para mascotas = Toda planta cuya ingestión no sea peligrosa</p>

                <div class="checklist">
                    <input type="radio" id="si" name="aptomascotas" value=true <% if(datos.pet == "true"){  %> <%="checked"%> <%}%>>
                    <label for="si">Si</label>
                </div>

                <div class="checklist">
                    <input type="radio" id="no" name="aptomascotas" value=false <% if(datos.pet == "false"){  %> <%="checked"%> <%}%>>
                    <label for="no">No</label>
                </div>
            </fieldset>

            <div class="botonx2">
                <button class="cta-sq" type="submit" onclick="alert('Cambios guardados')"> Guardar cambios </button>
                <button class="cta-sq" type="submit" formaction="/products/mod/del/<%= datos.id%>?_method=DELETE" onclick="alert('Entrada eliminada / Imagen del producto eliminada')"> Eliminar producto </button>
                <button class="cta-cancel" type="reset"> Borrar </button>
            </div>
        </form>

    </main>
    <script src="/js/script.js"></script>
</body>
</html>