<h3 class="other-title">Productos recomendados</h3>

<section class="other-products">
    
    <article class="other-button">
        <h2> < </h2>
        
    </article>
    

    <article class="other-bar">

        <% for (let i=0; i < locals.produ.length; i++){ %>

            <% if(dif == locals.produ[i].dif){ %>
          
            <section class="other-bar-prod">
                <picture>
                    <a href="/products/detail/<%= locals.produ[i].id%>">
                    <img src="/img/upload/product/<%= locals.produ[i].img %>" alt="" class="other-bar-img">
                </a>
                    <img src="/img/fav.svg" alt="" class="other-bar-fav">
                </picture>
                <article class="other-content">
                <h2><%= locals.produ[i].name%></h2>
                <h3><%= locals.produ[i].species %></h3>
                <h4>$<%= parseFloat(locals.produ[i].price).toFixed(0) %></h4>
                </article>
            </section>
            <% } %>

         <% } %>

    </article>

    <article class="other-button">
        <h2> > </h2>
    </article>
</section>